<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.PropertyLeasing.mapper.HouseMapper">
    <!--    <insert id="add">-->
    <!--        -->
    <!--    </insert>-->
    <insert id="AddHouse" useGeneratedKeys="true" keyProperty="houseid" keyColumn="houseid">
        INSERT INTO t_house
        (rent,area,orientation,floor,address,housedescribe,communityname)
        VALUES(#{rent},#{area},#{orientation},#{floor},#{address},#{housedescribe},#{communityname})
    </insert>

    <update id="UpdateHouseInfo">
        update t_house
        <set>
            <if test="rent != 0.00"> rent = #{rent} ,</if>
            <if test="area != 0.00"> area = #{area} ,</if>
            <if test="orientation != null"> orientation = #{orientation} ,</if>
            <if test="floor != 0">floor = #{floor}, </if>
            <if test="address != null"> address = #{address}, </if>
            <if test="housedescribe != null"> housedescribe = #{housedescribe} ,</if>
            <if test="communityname != null"> communityname = #{communityname} </if>
        </set>
            where houseid = #{houseid}
    </update>

    <select id="selectByCondition" resultType="com.PropertyLeasing.entity.House">
        select *
        from t_house
        <where>
            <if test="communityname != null and communityname != '' ">
                and communityname = #{communityname}
            </if>

            <if test="area != 0.00 and area lt 81.0">
                and area >= #{area} and area <![CDATA[<]]> #{area}+20.0
            </if>

            <if test="rent != 0.00 and rent lt 4000.0">
                and rent >= #{rent} and rent <![CDATA[<]]> #{rent}+1000.0
            </if>
            <if test="area != 0.00 and area >= 81.0">
                and area >= #{area}
            </if>
            <if test="rent != 0.00 and rent >= 4000.0">
                and rent >= #{rent}
            </if>
        </where>
    </select>

    <select id="selectByuserid" resultType="com.PropertyLeasing.entity.House">
        select *
        from t_house
        where houseid in (select houseid from renting_house where userid = #{userid});
    </select>

    <select id="SelectUserByHouseid" resultType="com.PropertyLeasing.entity.User">
        select *
        from t_user
        where userId = (select userid from renting_house where houseid = #{houseid});
    </select>

    <select id="OrderByrent" resultType="com.PropertyLeasing.entity.House">
        select *
        from t_house
        <if test="state == 1">
            order by rent ASC
        </if>
        <if test="state == 0">
            order by rent DESC
        </if>
    </select>

    <select id="OrderByarea" resultType="com.PropertyLeasing.entity.House">
        select *
        from t_house
        <if test="state == 1">
            order by area ASC
        </if>
        <if test="state == 1">
            order by area DESC
        </if>
    </select>


</mapper>