<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.PropertyLeasing.mapper.HouseMapper">
    <!--    <insert id="add">-->
    <!--        -->
    <!--    </insert>-->
    <insert id="AddHouse" useGeneratedKeys="true" keyProperty="houseid" keyColumn="houseid">
        INSERT INTO t_house
        (rent,area,orientation,floor,address,housedescribe,communityname)
        VALUES(#{rent},#{area},#{orientation},#{floor},#{address},#{housedescribe},#{communityname})
    </insert>

    <update id="UpdateHouseInfo">
        update t_house
        <set>
            <if test="rent != null"> rent = #{rent} </if>
            <if test="area != null"> area = #{area} </if>
            <if test="orientation != null"> orientation = #{orientation} </if>
            <if test="floor != null"> floor = #{floor} </if>
            <if test="address != null"> address = #{address} </if>
            <if test="housedescribe != null"> housedescribe = #{housedescribe} </if>
            <if test="communityname != null"> communityname = #{communityname} </if>
        </set>
            where houseid = #{houseid}
    </update>

    <select id="selectByCondition" resultType="com.PropertyLeasing.entity.House">
        select *
        from t_house
        <where>
            <if test="communityname != null and communityname != '' ">
                communtyname = #{communityname}
            </if>

            <if test="area != null">
                area >= #{area} and area <![CDATA[<]]> #{area}+20
            </if>

            <if test="rent != null">
                rent >= #{rent} and rent <![CDATA[<]]> #{rent}+1000
            </if>
        </where>
    </select>

    <select id="selectByuserid" resultType="com.PropertyLeasing.entity.House">
        select *
        from t_house
        where houseid in (select houseid from renting_house where userid = #{userid});
    </select>



</mapper>